<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href= "/"
       class="navbar-brand" href="#">MAKERsBnB</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/my-properties">MY PROPERTIES</a></li>
        <li><a href="/my-bookings">MY BOOKINGS</a></li>
        <li><a href="/logout">LOGOUT</a></li>
        <li><a href="/"><img class="icon" src="../images/home.png"></a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid flex justify-content-space-between bg-1 text-right">
  <div class="property-image-container">
    <img src="../images/2.jpg" class="img-responsive" style="display:inline" alt="chair" width="500" height="500">
  </div>
  <div class="content-">
    <div class="avalibility-container">

      <h3 class="price-box">{{data.space.name}}</h3>

         <div class="flex price-box">
           <h3 class="availability-heading"><strong>£{{data.space.cost}} </strong></h3>
           <p> per night</p>
         </div>
         <form method="POST" action="/spaces/{{data.space.id}}/book">
           <div class="dates-container">
             <div>
               <label>Check in</label>
               <input class="date-input" id ="check-in" type="date" name="checkIn">
             </div>
             <div>
               <label>Check out</label>
               <input class="date-input" id="check-out" type="date" name="checkOut">
             </div>
           </div>
           <p id="pricing-container"></p>
           <input id="button-dates" class="hide button-submit" type="submit" value="Book">
         </form>
       </div>
  </div>
</div>

<div id="Opinions" class ="opinions">
       <div class="opinions-image-container">
         <img class ="opinions-image" src="../images/icon.jpg"  alt="pic icon"></img>
       </div>

      <div class="opinions-text-container">
          <h2 class="opinions-heading"> What people say... </h2>
          <p class="comment" > Rosie: "beautiful apartament, very friendly host" </p>

       </div>
</div>

<footer class="container-fluid bg-4 text-center">
  <p> 2019 makers </p>
</footer>



<script> 
    const checkIn = document.querySelector('#check-in');
    const checkOut = document.querySelector('#check-out');
    const pricingContainer = document.querySelector('#pricing-container');
    const price = {{{data.space.cost}}}

    checkIn.addEventListener('change', update);
    checkOut.addEventListener('change', update);


    function update(a) {
  if (checkIn.value && checkOut.value !== "") { 
    console.log(`start date: ${checkIn.value}, end date: ${checkOut.value}`);

    const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
    const firstDate = new Date (checkIn.value)
    const secondDate = new Date(checkOut.value);
    const diffDays = Math.round(Math.abs((firstDate - secondDate) / oneDay));
    pricingContainer.innerHTML = `
      <div class="price-container">
        <p>£${price} X ${diffDays} nights</p>
        <div class="divider"></div>
        <p class="total-price"><strong>Total price:</strong> £${diffDays * price}</p>
      </div>
    `
    document.querySelector("#button-dates").classList.remove("hide");
  } 
}
</script>