<div class = "detailscontainer">
    <h1>Sarah's Castle</h1>
<img class = "img" src="../images/1.jpg" alt="house image">
    <div class="details-flex-container">
        <div class = "contain-all-details">
            <p>{{data.space.name}}</p>
            <p>Details </p>
            <p class = "details-text">
              {{data.space.description}}
            </p>
            <h3>Amenties</h3>
            <p class="amenities">
              £{{data.space.cost}}
            </p>  
        </div>

            <div class="avalibility-container" >
                <p> Make a booking:</p>
            <p> 
                From:
                <form action="/details">
                <input type="date" name="Check in">
                To:
                 <form action="/details">
                <input type="date" name="Check out">
                <input type="submit" value="Send">
                </form>
            </p>
            <p> You have selected: (added up total of dates).</p>
            <p> <form action="/details">
            <input type = "submit" value ="Generate Total Price">
            </form> 
            </div> 
    </div>
    

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>

</div>

