<h1 class = "detailscontainer">Welcome to the details page
<img class = "img" src="./images/1.jpg" alt="house image">

 
<div class = "contain-all-details">
    <p> - photos 
    "Sarah Castle" 
    </p>
    <p class="amenities">Amenties
    There is no bathroom 
    or toilet 
    its not real .. 
    </p>
    
</div>

</h1>


</h1>