<h1> List your space on MakersBnB to earn for life's extras </h1>

<form method="POST" action="/my-properties/add">
    Property's name:<br>
    <input type="text" name="name" placeholder="your name">
    <br><br>
    Describe your property:<br>
    <input type="text" name="description" placeholder="description">
    <br><br>
    Price per night: <br>
    <input type="text" name="cost" placeholder="£">
    <br><br>
    <input type="submit" value="List your Space">
</form>
