<div class="card-container">
    <h1>Welcome to MakersBnb</h1>
    <form method="POST" action="/login">
        Username:<br>
        <input class="card-input" type="text" name="username">
        <br><br>
        Password:<br>
        <input class="card-input" type="password" name="password">
        <br><br>
        <input class="card-button" type="submit" value="Submit">
    </form>
</div>