<h1>Welcome to MakersBnb</h1>


<form method="POST" action="/login">

    Username:<br>
    <input type="text" name="username" placeholder="username">
    <br><br>
    Password:<br>
    <input type="password" name="password" placeholder="password">
    <br><br>
    <input type="submit" value="Submit">
</form>
