<h1> Sign up to start your journey </h1>


<form method="POST" action="/signup">

    username:<br>
    <input type="text" name="username" placeholder="username">
    <br><br>
    password:<br>
    <input type="password" name="password" placeholder="password">
    <br><br>
    email address: <br>
    <input type="text" name="email" placeholder="email">
    <br><br>
    <input type="submit" value="Get Started">

</form>

