<div class = "card-container">
    <div> 
        <h1> Sign up to start your journey </h1>
        <br></br>

        <div class="signupbox">
        <form method="POST" action="/signup">
            username:<br>
            <input class="card-input" type="text" name="username">
            <br><br>
            password:<br>
            <input class="card-input" type="password" name="password">
            <br><br>
            email address: <br>
            <input class="card-input" type="text" name="email">
            <br><br>
            <input class="card-button" type="submit" value="Get Started">
        </form>
            <div class="link-container">
                <a href= "/" class="signup" href="#">LOG IN</a>
            </div>   
        </div>
    </div>
</div>

