
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MAKERsBnB</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><img class="icon" src="../images/home.png"></a></li>
        <li><a href="/my-properties">MY PROPERTIES</a></li>
        <li><a href="/my-bookings">MY BOOKINGS</a></li>
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav> 
<h1 class= "suitcaseText1">You're going away!</h1>
<h2 class= "suitcaseText">You can view your bookings in myBookings</h2>
<img class="image-suitcase" src="../images/suitcase.svg" alt="">
<div class="success-button">
<a class="success-link" href="/welcome">Back home</a>
</div>



<footer class="footer"> 2019 makers
</footer>