<body>
    <h1>Properties</h1>
    {{#each spaces}}
    <div class="spaces-container">
        <li>{{this.name}}</li>
        <li>{{this.description}}</li>
        <li>£{{this.cost}}</li>
    </div>
    {{/each}}
</body>