body {
    background-color: #2BD9FE;

    font-family: 'Montserrat', sans-serif;

}
.card-container { 
    background-color: #FBFBFF; 
max-width: 700px;
max-height: 300px; 
position: absolute; 
top: 0; 
bottom: 0;
left: 0;
right: 0; 
margin: auto; 
text-align: center;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.card-input { 
    border: none;
    border-bottom: 2px #545454 solid; 
    width: 100px; 
}
.card-button { 
    background-color: #1A8FE3;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
    padding: 5px 15px; 
    border-radius: 20px; 
    color: white; 
    border: none; 

}